/* mobile */
.avatarSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.uploadButton {
  display: flex;
  align-items: center;
  white-space: nowrap;

  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  padding: 8px 20px;
  width: 179px;
  height: 42px;
  background: rgba(0, 0, 0, 0.05);

  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #000;

  cursor: pointer;
}

.container {
  padding: 0 20px;
}
.avatarImage {
  border-radius: 100%;
  width: 132px;
  overflow: hidden;
  margin: 0 auto;
}
.userInfo {
  padding: 0px 0px 0px 4px;
  width: 335px;
  height: 49px;
  margin: 0 auto;
  text-align: center;
}

.userName {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);
}

.userEmail {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--color-scheme-text);
}

.downloadAvatar {
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  padding: 8px 20px;
  width: 335px;
  height: 38px;
  background: var(--opacity-neutral-darkest-5);
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

/* tablet */
@media screen and (min-width: 768px) {
  .profileSection {
    padding: 24px 32px 0px;
    justify-content: flex-start;
  }

  .profileInfo {
    padding: 0px 0px 0px 4px;
    align-items: flex-start;
  }
  .uploadBtn {
    width: 218px;
  }
}

/* desktop */

@media screen and (min-width: 1440px) {
  .profileSection {
    align-items: center;
    gap: 24px;
  }

  .uploadBtn {
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    width: 218px;
    height: 42px;
  }
}
