.container {
  padding: 0 20px;
  max-width: 375px;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    padding: 0 32px;
    min-width: 644px;
    max-width: 768px;
    gap: 12px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 32px;
    min-width: 644px;
    max-width: 644px;
  }
}

.avatarImage {
  border-radius: 100%;
  width: 132px;
  height: 132px;
  overflow: hidden;
  margin: 0 auto;
  object-fit: cover;
  flex-shrink: 0;
}

.userInfo {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
}

.userName {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000;
  margin-top: 12px;
}

@media screen and (min-width: 1440px) {
  .userName {
    font-size: 24px;
  }
}

.userEmail {
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #000;
}

@media screen and (min-width: 1440px) {
  .userEmail {
    font-size: 16px;
  }
}

.downloadAvatar {
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  border-radius: 100px;
  /* padding: 8px 20px; */
  width: 100%;
  height: 38px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  margin-top: 16px;
  cursor: pointer;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .downloadAvatar {
    max-width: 218px;
    margin: 16px 0 0 0;
  }
}

@media screen and (min-width: 1440px) {
  .downloadAvatar {
    min-height: 42px;
    font-size: 16px;
  }
}

.downloadAvatar:hover,
.downloadAvatar:focus {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.downloadAvatar:active {
  background-color: #b2b2b2;
}

.downloadAvatar:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.3;
}
