.momTabContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  box-sizing: border-box;
}

.infoForMomBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.howYouCanFeel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  border-radius: 32px;
  background: var(--color-scheme-foreground);
  max-width: 335px;
  height: auto;
}

.advicesTitle {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

.feelingsList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  list-style: none;
}

.feelingTag {
  background: var(--opacity-neutral-darkest-5);
  color: var(--color-scheme-text);
  padding: 4px 10px;
  border-radius: 100px;
  font-weight: 600;
  font-size: 12px;
  font-family: "Lato", sans-serif;
}

.sensationDescription {
  color: var(--color-scheme-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

.advices {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  border-radius: 32px;
  background: var(--color-scheme-foreground);
  max-width: 335px;
  height: auto;
}

.advicesList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.adviceItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.iconTitleAdvice {
  display: flex;
  align-items: center;
  gap: 8px;
}

.adviceCategory {
  line-height: 1.6;
  font-weight: 700;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  color: var(--color-scheme-text);
}

.comfortTips {
  color: var(--color-scheme-text);
  margin-left: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 768px) {
  .momTabContainer {
    grid-template-columns: 1fr;
  }
  .howYouCanFeel {
    max-width: 704px;
    height: auto;
  }
  .advices {
    max-width: 704px;
    height: auto;
  }
}

@media screen and (min-width: 1440px) {
  .momTabContainer {
    grid-template-columns: 1.7fr 1.5fr;
    align-items: start;
    width: 1064px;
    height: 540px;
  }

  .howYouCanFeel {
    width: 650px;
    height: 194px;
  }

  .advices {
    width: 650px;
    height: 322px;
  }
  .infoForMomBlock {
    flex: 1;
    max-width: 650px;
  }

  .advicesTitle {
    font-size: 20px;
    font-weight: 700;
  }

  .adviceCategory {
    font-size: 16px;
  }

  .sensationDescription {
    font-size: 16px;
  }

  .sensationDescription {
    overflow-y: scroll;
  }

  .comfortTips {
    max-height: 48px;
    overflow-y: scroll;
    font-size: 16px;
  }
}
