@media (max-width: 767.8px) {
  .diary-list-container {
    width: 375px;
    display: flex;
    justify-content: center;
  }
}

.diary-list-block {
  border-radius: 32px;
  padding: 24px 16px;
  width: 335px;
  background: var(--color-scheme-foreground);
}

.diary-list-header {
  display: flex;
  justify-content: space-between;
  width: 303px;
  height: 25px;
  margin-bottom: 16px;
}

.diary-header-left-content {
  border-radius: 100px;

  height: 24px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

.diary-header-right-content {
  display: flex;
  gap: 8px;
  border-radius: 100px;
  width: 114px;
  height: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.diary-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 12px;
}

.diary-item {
  border: 1px solid var(--color-scheme-foreground-alt);
  border-radius: 16px;
  padding: 16px;
  width: 303px;

  background: var(--color-scheme-foreground-alt);
}

.add-icon {
  cursor: pointer;
}

@media (min-width: 768px) {
  .diary-list-container {
    width: 715px;
  }

  .diary-list-block {
    border-radius: 32px;
    padding: 24px 16px;
    width: 704px;
    background: var(--color-scheme-foreground);
  }

  .diary-list-header {
    display: flex;
    justify-content: space-between;
    width: 672px;
    height: 25px;
    margin-bottom: 16px;
  }

  .diary-header-left-content {
    border-radius: 100px;

    height: 24px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--color-scheme-text);
  }

  .diary-header-right-content {
    display: flex;
    gap: 8px;
    border-radius: 100px;
    width: 114px;
    height: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-text);
  }

  .diary-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .diary-item {
    border: 1px solid var(--color-scheme-foreground-alt);
    border-radius: 16px;
    padding: 16px;
    width: 672px;
    background: var(--color-scheme-foreground-alt);
  }
}

@media (min-width: 1440px) {
  .diary-list-container {
    padding: 16px 0;
  }

  .diary-list-block {
    border-radius: 32px;
    padding: 24px 16px;
    width: 389px;
    height: 727px;
    background: var(--color-scheme-foreground);
  }

  .diary-list-header {
    display: fixed;
    justify-content: space-between;
    width: 357px;
    height: 28px;
    margin-bottom: 16px;
  }

  .diary-header-left-content {
    border-radius: 100px;

    height: 24px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: var(--color-scheme-text);
  }

  .diary-header-right-content {
    display: flex;
    gap: 8px;
    border-radius: 100px;
    width: 114px;
    height: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: var(--color-scheme-text);
  }

  .diary-list {
    border-radius: 32px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 357px;
    height: 643px;
    overflow: auto;
  }

  .diary-item {
    width: 100%;
    border: 1px solid var(--color-scheme-foreground-alt);
    border-radius: 16px;
    padding: 16px;
    background: var(--color-scheme-foreground-alt);
  }
}

/* стилі для Скролл бару*/
.scrollable {
  height: 300px;
  overflow-y: scroll;
}

/* Стиль самого скролбару */
.diary-list::-webkit-scrollbar {
  width: 10px;
}

/* Стиль треку (фон) */
.diary-list::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

/* Стиль повзунка */
.diary-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

/* При наведенні */
.diary-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
