.diary-list-container {
  padding: 32px 20px;
  width: 375px;
}

.diary-list-block {
  border-radius: 32px;
  padding: 24px 16px;
  width: 335px;
  background: var(--color-scheme-foreground);
}

.diary-list-header {
  display: flex;
  justify-content: space-between;
  width: 303px;
  height: 25px;
  margin-bottom: 16px;
}

.diary-header-left-content {
  border-radius: 100px;

  height: 24px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

.diary-header-right-content {
  display: flex;
  gap: 8px;
  border-radius: 100px;
  width: 114px;
  height: 24px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.diary-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
