.pageContainer {
  display: flex;
  justify-content: space-between;
}

.formColumn {
  width: 100%;
  padding: 72px 64px;
}

.illustrationColumn img {
  object-fit: cover;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

.container {
  max-width: 1440px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.header {
  position: absolute;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin: 25px 0;
}

@media screen and (max-width: 1439px) {
  .container {
    max-width: 767px;
  }

  .illustrationColumn {
    display: none;
  }

  .pageContainer {
    justify-content: center;
  }

  .header {
    position: relative;
  }
  .formColumn {
    padding: 0 64px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
  }

  .formColumn {
    width: 335px;
    padding: 0;
  }
}
