.diary-details-container {
  padding: 32px 20px;
  width: 375px;
  margin: 0 auto;
  background: var(--color-scheme-background);
}

.diary-details-block {
  border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 24px 16px;
  width: 335px;
  background: var(--color-scheme-foreground);
}

.diary-details-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 303px;
  min-height: 603px;
  margin-bottom: 16px;
}

.diary-details-title {
  width: 310px;
  height: 40px;
  display: flex;
  gap: 8px;
  border-radius: 100px;
  align-items: center;
  height: 24px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
}

.diary-details-date {
  width: 130px;
  height: 40px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.diary-details-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
  margin-bottom: 8px;
}

.diary-details-emotions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.diary-details-emotions-item {
  display: flex;
  border-radius: 100px;
  padding: 4px 10px;
  height: 27px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
  background: var(--opacity-neutral-darkest-5);
}
