.profileform {
  max-width: 375px;
  margin: 0 auto;
  padding: 32px 20px 55px 20px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .profileform {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .profileform {
    min-width: 644px;
  }
}

.profilefield {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profilelabel {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

@media screen and (min-width: 1440px) {
  .profilelabel {
    font-size: 16px;
  }
}

.profileinput {
  width: 100%;
  height: 37px;
}

.profileselectGender {
  width: 100%;
  height: 40px;
}

.profileselectDate {
  height: 48px;
  width: 100%;
}

.profileinput,
.profileselectGender,
.profileselectDate {
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.05);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 12px;
  padding-right: 12px;
  outline-color: none;
}

@media screen and (min-width: 1440px) {
  .profileinput,
  .profileselectGender,
  .profileselectDate {
    font-size: 16px;
  }
}

.profileinput:focus,
.profileselectGender:focus,
.profileselectDate:focus {
  outline: 1px solid #ffcbd3;
}

.error {
  color: #c60000;
}

.inputError {
  border: 1px solid #c60000;
  color: #c60000;
}

.inputError::placeholder {
  color: #c60000;
  opacity: 1;
}

.profileactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .profileactions {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.profilecancel,
.profilesave {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  font-family: "Lato", sans-serif;
}

@media screen and (min-width: 1440px) {
  .profilecancel,
  .profilesave {
    font-size: 16px;
  }
}

.profilecancel {
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  padding: 8px 20px;
  max-width: 159px;
  height: 38px;
  background: var(--opacity-neutral-darkest-5);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

@media screen and (min-width: 768px) {
  .profilecancel {
    max-width: 135px;
    height: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .profilecancel {
    max-width: 165px;
    height: 42px;
  }
}

.profilesave {
  border-bottom: 4px solid #ffcbd3;

  padding: 8px 20px;
  max-width: 159px;
  height: 38px;
  background-color: #ffdae0;
}

@media screen and (min-width: 768px) {
  .profilecancel {
    max-width: 150px;
    height: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .profilecancel {
    max-width: 149px;
    height: 42px;
  }
}

.profilesave:hover,
.profilesave:focus {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  background-color: #fff4f6;
}

.profilesave:active {
  background-color: #ffcbd3;
}

.profilesave:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  background-color: #ffdae0;
}

.profilecancel:hover,
.profilecancel:focus {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

.profilecancel:active {
  background-color: #b2b2b2;
}

.profilecancel:disabled {
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 0.3;
}
