.profileform {
  max-width: 480px;
  margin: 0 auto;
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", sans-serif;
}

.profilefield {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.profilelabel {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
}

.profileinput,
.profileselect {
  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  width: 335px;
  height: 37px;
  background: var(--opacity-neutral-darkest-5);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--opacity-neutral-darkest-60);
}

.profileinput:focus,
.profileselect:focus {
  border-color: #0078d4;
  outline: none;
}

.errorInput {
  border-color: #d83b01;
}

.profileerror {
  color: #d83b01;
  font-size: 14px;
  margin-top: 4px;
}

.profileactions {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.profilecancel,
.profilesave {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.profilecancel {
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  padding: 8px 20px;
  width: 159px;
  height: 38px;
  background: var(--opacity-neutral-darkest-5);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.profilesave {
  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  padding: 8px 20px;
  width: 159px;
  height: 38px;
  background: var(--color-scheme-foreground-alt);
}

.profilesave:hover {
  background-color: #005a9e;
}

.profilecancel:hover {
  background-color: #e1dfdd;
}
