.diary-item {
  border: 1px solid var(--color-scheme-foreground-alt);
  border-radius: 16px;
  padding: 16px;
  width: 303px;

  background: var(--color-scheme-foreground-alt);
}

.diary-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 271px;
  height: 26px;
  margin-bottom: 8px;
}

.diary-item-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.diary-item-date {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--color-scheme-text);
}

.diary-item-emotion-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.diary-item-emotion {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 2px 12px;
  height: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-scheme-text);
  background: var(--color-scheme-foreground);
}
