.breadcrumb-block {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 0;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  color: #333;
  padding: 24px 0 16px;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  color: var(--color-scheme-text);
}

.nav-link:hover {
  color: #005a9e;
  text-decoration: underline;
}

.active {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  color: var(--color-neutral);
}
