@media (max-width: 767.8px) {
  .breadcrumb-block {
    display: flex;
    width: 300px;
    height: 24px;
    margin-bottom: 16px;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .breadcrumb-block {
    padding: 24px 32px 0px;
    width: 1128px;
    height: 109px;
    background-color: rgb(73, 73, 31);
  }
}

.nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  color: var(--color-scheme-text);
}

.breadcrumb-block .active {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  color: var(--color-neutral);
}
