.title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #000;
  padding-left: 20px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .title {
    padding-left: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  .title {
    font-size: 32px;
    padding-left: 0px;
  }
}
