.main {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  justify-content: center;
}

@media only screen and (min-width: 1440px) {
  .main {
    justify-content: flex-start;
    overflow-x: hidden;
    height: 100%;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  padding: 24px 20px 0px;
  height: 24px;
  margin-bottom: 16px;
}

@media (min-width: 1440px) {
  .main-content {
    display: flex;
    flex-direction: column;
    padding: 0px 32px;

    height: 900px;
    overflow: hidden;
    width: 1128px;
  }

  .nav-wrapper {
    background-color: rgb(73, 73, 31);
  }
}
