.sidebar-container {
  padding-top: 8px;
  width: 312px;
  background-color: rgb(73, 73, 31);
}

.menu-top {
  padding: 16px;
  width: 312px;
  height: 64px;
  background-color: aqua;
}

.menu-wrapper {
  padding: 8px 16px 0px;
  width: 312px;
  height: 736px;
  background-color: rgb(8, 197, 8);
}

.menu-bottom {
  padding: 0px 16px 24px;
  width: 312px;
  height: 92px;
  background-color: blue;
}
