.sidebar {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(3px);
  opacity: 0;
  pointer-events: none;
  transition: background 0.3s ease, opacity 0.3s ease;
  z-index: 9;
  display: flex;
}

.sidebar.open {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  pointer-events: auto;
}

.inner {
  background: #fff;
  width: 300px;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.sidebar.open .inner {
  transform: translateX(0);
}

@media (min-width: 1440px) {
  .sidebar {
    position: static;
    background: transparent;
    opacity: 1;
    pointer-events: auto;
    transform: none;
    display: block;
  }

  .inner {
    transform: none;
    width: 312px;
  }

  .logoimg {
    display: none;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 16px 24px;

  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

@media (min-width: 1440px) {
  .header {
    padding: 24px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 3px;

  border: none;
  background: transparent;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .logo {
    gap: 5px;
  }
}

.burgerBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.navList {
  padding: 0 16px;
  height: 100%;
}
.navItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;

  border-radius: 8px;
  padding: 8px;
  width: 268px;
  height: 40px;
}

.navItem:hover,
.navItem:focus {
  background: #fff4f6;
  cursor: pointer;
}

.navLink {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

@media (min-width: 1440px) {
  .navLink {
    font-size: 16px;
  }
}

.line {
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 280px;
  height: 0px;
  margin: 0 auto;
}

.footer {
  padding: 16px 16px 24px 16px;
}

@media (min-width: 1440px) {
  .footer {
    padding: 24px 16px;
  }
}

.wrapperuser {
  display: flex;
  flex-direction: row;
}

.avatar {
  border-radius: 100%;
}

.wrapperusertext {
  display: flex;
  flex-direction: column;

  margin-left: 12px;
  margin-right: auto;
}

.username {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #000;
}

.useremail {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #000;
}

.logoutBtn {
  border: none;
  background: #fff;
}

.authLinks {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.linkSingin {
  border: none;
  border-radius: 100px;
  padding: 10px 24px;

  height: 42px;

  background: #ffdae0;
  box-shadow: 0 4px 0 #ffcbd3;

  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #000;

  cursor: pointer;
}
.linkSingup {
  border: none;
  border-radius: 100px;
  padding: 10px 24px;

  height: 42px;

  background: #ffdae0;
  box-shadow: 0 4px 0 #ffcbd3;

  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #000;

  cursor: pointer;
}
