.babyTabContainer {
  padding-left: 20px;
    padding-right: 20px;
height: auto;
  background: #fff4f6;
  border-radius: 24px;
  height: auto;
  box-sizing: border-box;
}

.imgAnalogContainer {
  position: relative;
  width: 287px;
  height: 379px;
  border-radius: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.babySizeImage {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  object-fit: cover;
}

.analogyText {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  text-align: center;
  margin-top: 8px;
}

.journeyTextInfo {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  max-width: 640px;
  box-sizing: border-box;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.journeyDescription {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.interestingFacts {
  border-radius: 12px;
  padding: 12px;
  background-color: #ffdae0;
}

.titleLogoFacts {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 8px;
}

.factsIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.factsDescription {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

@media screen and (min-width: 768px) {
  .babyTabContainer {
    flex-direction: column;

    align-items: center;
    padding: 24px;
    gap: 32px;
  }

  .imgAnalogContainer {
    width: 656px;
    height: 379px;
  }

  .analogyText,
  .journeyDescription,
  .factsDescription,
  .titleLogoFacts {
    font-size: 14px;
  }
}

@media screen and (min-width: 1128px) {
  .babyTabContainer {
border: 0px solid var(--color-scheme-border);
  border-radius: 32px;
  padding: 24px;
  width: 1064px;
  height: 467px;
  flex-direction: row;
  display: flex;
  }

  .imgAnalogContainer {
width: 461px;
  height: 419px;
  display: flex;
    align-items: center;
    justify-content: center;
  }

  .analogyText,
  .journeyDescription,
  .factsDescription,
  .titleLogoFacts {
    font-size: 16px;
  }

  .journeyTextInfo {
width: 523px;
  height: 400px;
  }

  .descriptionContainer {
    height: 280px;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .journeyDescription {
    max-height: 280px;
  }
}
