
.babyTabContainer {
  max-width: 335px;
  height: auto;
  background: var(--color-scheme-foreground);
  border-radius: 32px;
  box-sizing: border-box;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.imgAnalogContainer {
  position: relative;
  max-width: 287px;
  height: 379px;
  border-radius: 24px;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 16px;
}

.babySizeImage {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  object-fit: cover;
}

.analogyText {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
  text-align: start;
  margin-bottom: 16px;
}

.journeyTextInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.descriptionContainer {
  margin-bottom: 16px;
  overflow-y: auto;
}

.journeyDescription {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
  margin-bottom: 8px;
}

.interestingFacts {
  border-radius: 12px;
  padding: 12px;
  background: var(--color-scheme-foreground-alt);
}

.titleLogoFacts {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-scheme-text);
  margin-bottom: 8px;
}

.factsDescription {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .babyTabContainer {
    max-width: 704px;
    padding: 24px;
  }

  .imgAnalogContainer {
    max-width: 656px;
    height: 379px;
    margin-bottom: 16px;
  }

  .journeyTextInfo {
    padding-right: 8px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1440px) {
  .babyTabContainer {
    max-width: none;
    width: 1064px;
    height: 467px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
  }

    .imgAnalogContainer {
      position: relative;
      width: 461px;
      height: 379px;
      flex-shrink: 0;
      overflow: hidden;
    }
  
    .babySizeImage {
      object-fit: cover;
      object-position: center;
    }

  .journeyTextInfo {
    flex: 1;
    overflow-y: auto;
  }

  .analogyText,
  .journeyDescription,
  .factsDescription,
  .titleLogoFacts {
    font-size: 16px;
  }
}