.card {
  border-radius: 32px;
  width: 335px;
  height: auto;
  background: #fff4f6;

  padding: 24px;
}

.title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #000;
  margin-bottom: 8px;
}

.text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
}
