.card {
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 32px;

  padding: 24px;
  width: 335px;
  height: auto;

  background: #fff4f6;
  padding: 32px;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 704px;
  }
}

.title {
  font-family: "Comfortaa", sans-serif;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #000;
  margin-bottom: 16px;
}

.image {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  width: 287px;
  height: 216px;
  margin-bottom: 16px;
}

.textWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 24px;
}
.info {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.infotext {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}
