.tabsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  background: var(--color-scheme-foreground);
  box-sizing: border-box;
  margin-bottom: 16px;
  max-width: 335px;
}

/* Базові стилі однакові для обох */
.tabButton,
.tabButtonActive {
  border: 1px solid var(--opacity-transparent);
  width: 163px;
  height: 42px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  cursor: pointer;
  transition: all 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Неактивна */
.tabButton {
  background: transparent;
  color: var(--color-scheme-text);
}

.tabButton:hover {
  background: var(--opacity-transparent);
}

/* Активна */
.tabButtonActive {
  background: var(--color-scheme-foreground-alt);
  color: var(--color-scheme-text);
}

/* --- планшет --- */
@media screen and (min-width: 768px) {
  .tabsWrapper {
    max-width: 704px;
    height: 50px;
    padding: 4px;
  }

  .tabButton,
  .tabButtonActive {
    width: 348px;
    height: 42px;
    font-size: 16px;
  }
}

/* --- десктоп --- */
@media screen and (min-width: 1440px) {
  .tabsWrapper {
    max-width: 572px;
    height: 54px;
    padding: 4px;
    margin: 0 auto 16px;
  }

  .tabButton,
  .tabButtonActive {
    width: 273px;
    height: 46px;
    font-size: 18px;
  }

  .tabButtonActive {
    background: #ffdae0;
  }
}

.errorMessage {
  color: #c60000;
  text-align: center;
  padding: 16px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 256px;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 3px solid #fff4f6;
  border-top-color: #ffcbd3;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
